.footer {
  display: flex; 
  flex-direction: column; 
  align-items: flex-end;
  padding: 0px 0px; 
}

.copyright {
  margin-bottom: -10px; 
  text-align: right;
}

.footer p {
  font-size: 14px;
  margin-right: 20px;
}

.links p {
  margin: 0; 
  padding-right: 70px; 
}

a {
  color: #ccc;
}
