/* src/styles/screenshot.css */

.screenshot-container {
  display: flex;              
  flex-direction: column;      
  align-items: center;         
  justify-content: center;       
  margin: 20px;               
  padding: 20px;             
  text-align: center;          
  background-color: rgba(0, 0, 0, 0.8); 
  border-radius: 10px;        
  color: white;                 
  height: calc(100vh - 100px); 
  overflow: hidden;            
}

.screenshot-image {
  max-width: 100%;          
  max-height: 80vh;            
  height: auto;                
  border: 2px solid #fff;     
  border-radius: 5px;          
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  object-fit: contain;         
}

h1 {
  font-size: 2.5em;             
  margin-bottom: 20px;          
}

p {
  font-size: 1.2em;              
  margin-top: 10px;              
}
