.main-feedback{
  margin: 0;
  padding: 5px;
  height: 100vh;
  background-image: url('../images/bg.11.13.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.feedback-container {
  padding: 20px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 10px;
  margin: 150px auto;
  max-width: 800px;
  box-sizing: border-box; /* padding을 포함하여 전체 너비를 계산하도록 설정 */
}

.feedback-container h1{
  text-align: center;
}

.feedback-container textarea {
  width: 100%;
  margin: 10px 0;
  padding: 10px; /* padding 추가 */
  border: none;
  border-radius: 5px; /* 둥근 모서리 */
  resize: none; /* 크기 조절 비활성화 */
  box-sizing: border-box; /* padding을 포함하여 전체 너비를 계산하도록 설정 */
}

.submit-button {
  padding: 10px 20px;
  background-color: #ffd700; /* 노란색 배경 */
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px; /* 글씨 크기 조정 */
  font-weight: bold; /* 글씨 굵기 조정 */
  transition: background-color 0.3s ease; /* 부드러운 전환 효과 */
}

.submit-button:hover {
  background-color: #e6c200; /* 호버 시 색상 변경 */
}

.feedback-list {
  margin-top: 20px; /* 피드백 목록과 폼 사이의 여백 */
}

.feedback-item {
  background-color: rgba(255, 255, 255, 0.1); /* 피드백 아이템 배경 */
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0; /* 아이템 사이의 간격 */
  color: white; /* 글자 색상 */
}
