html,
body {
  overflow: hidden;
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}

@font-face {
  font-family: 'loginfont';
  src: url('../fonts/Tenada.ttf') format('truetype');
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.logo-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.logo-link img {
  vertical-align: middle;
}

.loginForm {
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.login_title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}

.login_subtitle {
  margin-right: 170px;
  color: #1999ff;
  padding: 5px;
}

.input input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.input input:focus {
  border-color: #007bff;
  outline: none;
}

.error {
  color: #d9534f;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 14px;
}

.loginBut {
  background-color: #ffd700;
  border: 4px solid #4d4d4d;
  color: black;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  margin-top: 10px;
}

.loginBut:hover {
  background-color: #e6c200;
}

.loginBut:active {
  background-color: #cca300;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.signupBut {
  margin-top: 10px;
  text-decoration: none;
}

.m {
  text-align: center;
  padding: 20px 20px;
  margin-top: -200px;
}

.fade-in11 {
  opacity: 0;
  animation: fadeInAnimation 2s forwards;
  font-family: 'loginfont';
  font-size: 70px;
  /* color: #FFFF00; */
  color: #ffd700;
}

.fade-in21 {
  opacity: 0;
  animation: fadeInAnimation 2s forwards;
  color: white;
}

@keyframes fadeInAnimation {
  to {
    opacity: 1;
  }
}

.famous {
  font-size: 16px;
  font-weight: bold;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
