html, body {
  height: 100%;
  overflow: hidden; 
  margin: 0;
}

.main-container {
  position: fixed; 
  height: 100%;
  width: 100%;
  
}

.bg-video {
  position: fixed; 
  top: -57px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; 
}

.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: contain;
  background-color: black;
}

@font-face {
  font-family: 'SignupFont';
  src: url('../fonts/WickedType-OV2g8.ttf') format('truetype');
  font-style: normal;
}


.m {
  margin-top: 250px;
  text-align: center;
  position: relative;
}


.fade-in1 {
  opacity: 0;
  animation: fadeInAnimation 1s forwards;
  font-family: 'SignupFont', sans-serif;
  font-size: 100px;
  background: url('../images/rough-architect-structure-stonewall-superb.jpg') repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  
}

.fade-in2 {
  opacity: 0;
  animation: fadeInOutAnimation 3s forwards;
  color: white;
}

.fade-in3 {
  opacity: 0;
  animation: fadeInOutAnimation 2s forwards;
  color: white;
}

.fade-in4 {
  opacity: 0;
  animation: fadeInOutAnimation 1s forwards;
  color: white;
}

@keyframes fadeInAnimation {
  to {
    opacity: 1;
  }
}

@keyframes fadeInOutAnimation {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 0px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}