html, body {
  height: 100%;
  overflow: hidden; 
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 20px; 
  z-index: 2; 
}

.main-container {
  position: fixed; 
  height: 100%;
  width: 100%;
}

.bg-video {
  position: fixed; 
  height: 100%; 
  width: 100%;
  overflow: hidden;
  z-index: -1; 
}

.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover; 
}

@font-face {
  font-family: 'SignupFont';
  src: url('../fonts/WickedType-OV2g8.ttf') format('truetype');
  font-style: normal;
}


.m {
  margin-top: 150px;
  text-align: center;
  position: relative;
}

.fade-in12 {
  opacity: 0;
  animation: fadeInAnimation 2s forwards;
  font-family: 'SignupFont', sans-serif;
  font-size: 100px;
  color: red
}

.fade-in22 {
  opacity: 0;
  animation: fadeInAnimation 2s forwards;
  color: white;
}

@keyframes fadeInAnimation {
  to {
    opacity: 1;
  }
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 0px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}