.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  z-index: 1000;
}

.logo {
  position: absolute;
  left: 20px;
}

.logo a {
  font-size: 25px;
  color: #ff0000;
  text-decoration: none;
  font-family: 'SignupFont';
}

.nav-links {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 60px;
}

.nav-links li {
  position: relative;
  display: inline-block;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  transition: background-color 0.3s ease;
}

.nav-links a:hover {
  background-color: #555;
}

.dropdown {
  font-size: 5px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  min-width: 160px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  opacity: 0;
  z-index: 1;
}

.dropdown a {
  font-size: 5px;
  padding: 1px;
  white-space: nowrap;
}

.dropdown a:hover {
  background-color: #555;
}

.nav-links li:hover .dropdown {
  max-height: 300px;
  opacity: 1;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 5px 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-links li a:hover {
  background-color: #555;
  border-radius: 5px;
}

.auth-links {
  display: flex;
  margin-left: 100px;  /* 오른쪽 끝으로 배치 */
  align-items: center;
}

.lgin a,
.sign a {
  background-color: #555;
  border-radius: 5px;
  text-decoration: none;
  margin-left: 20px; /* 링크 간 간격을 설정 */
  font-size: 16px;
}

.lgin a:hover,
.sign a:hover {
  background-color: #575757;
  padding: 5px;
  border-radius: 5px;
}
