.main-overview {
  margin: 0;
  padding: 5px;
  height: 100vh;
  background-image: url('../images/bg.11.13.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overview-container {
  padding: 20px;
  margin-top: 250px;
  width: 1500px;
  margin-left: 200px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.overview-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: white;
}

.overview-content {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

.overview-subtitle {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: white;
}

.overview-features {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 1.5rem;
}

.overview-footer {
  font-size: 1rem;
  color: white;
}
