.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative; /* position 설정 */
  overflow: hidden; /* 내용이 넘치는 것을 숨김 */
}

@font-face {
  font-family: 'SignupFont';
  /* src: url('../fonts/MonsterHunterExpanded-rL19.otf') format('opentype'); */
  src: url('../fonts/WickedType-OV2g8.ttf') format('truetype');
  /* src: url('../fonts/HowlinMad-A31L.otf') format('opentype'); */
  /* src: url('../fonts/KaijuMonsterG-05pr.ttf') format('truetype'); */
  font-style: normal;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.bg-video__content {
  position: absolute; /* 비디오를 절대 위치로 설정 */
  top: 50%; /* 수직 중앙 정렬 */
  left: 50%; /* 수평 중앙 정렬 */
  min-width: 100%; /* 최소 너비는 100%로 설정 */
  min-height: 100%; /* 최소 높이는 100%로 설정 */
  width: auto; /* 비율 유지 */
  height: auto; /* 비율 유지 */
  transform: translate(-50%, -50%); /* 정확히 가운데로 위치 */
  object-fit: cover; /* 비율을 유지하면서 공간을 채우도록 설정 */
}

.content {
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.signupForm {
  padding: 2rem;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.signup_title {
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.signup_subtitle {
  margin-right: 265px;
  color: white;
  padding: 5px;
}

.signup_input input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.signup_input input:focus {
  border-color: #007bff;
  outline: none;
}

.error {
  color: red;
  text-align: center;
}

.signup_button {
  background-color: #ffd700;
  border: 4px solid #4d4d4d;
  color: black;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  margin-top: 10px;
}

.signup_button:hover {
  background-color: #e6c200;
}

.signup_button:active {
  background-color: #cca300;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
}

section.m {
  text-align: center;
  padding: 20px 20px;
  margin-top: -200px;
  color: #ccc;
}

.fade-in12 {
  opacity: 0;
  animation: fadeInAnimation 2s forwards;
  font-family: 'SignupFont', sans-serif;
  font-size: 100px;
  color: white;
}

.fade-in22 {
  opacity: 0;
  animation: fadeInAnimation 2s forwards;
}

@keyframes fadeInAnimation {
  to {
    opacity: 1;
  }
}

.famous {
  font-size: 16px;
  font-weight: bold;
}

.link {
  text-align: center;
  margin-top: 10px;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.loginLink {
  margin-top: 10px;
  text-decoration: none;
}
