.container2 {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupForm {
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 350px;
}

.signup_title {
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.signup_subtitle {
  margin-right: 260px;
  color: #1999ff;
  padding: 5px;
}

.signup_input input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.signup_input input:focus {
  border-color: #007bff;
  outline: none;
}

.error {
  color: red;
  text-align: center;
}

.signup_button {
  color: black;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  margin-top: 10px;
}

.signup_button:hover {
  background-color: white;
}

.signup_button:active {
  background-color: white;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.link {
  text-align: center;
  margin-top: 10px;
}


.loginLink {
  margin-top: 10px;
  text-decoration: none;
  color: white;
}
